---
import '@/styles/global.css';

import { ViewTransitions } from 'astro:transitions';
import BasicHead, { type Props as BasicHeadProps } from './BasicHead.astro';
import { ExternalScripts, I18N } from '@/consts';
import AstroAnalytics from '@/lib/analytics/AstroAnalytics.astro';

interface Props {
	i18n?: {
		language: string;
		direction: 'ltr' | 'rtl' | 'auto';
	};
	metadata: BasicHeadProps;
}

const { metadata, i18n = { language: I18N.language, direction: I18N.textDirection } } = Astro.props;

const gaPartytown = ExternalScripts.googleAnalytics.partytown;
const gaId = ExternalScripts.googleAnalytics.id;
---

<html lang={i18n.language} dir={i18n.direction}>
	<head>
		{gaId && <AstroAnalytics id={gaId} partytown={gaPartytown} />}
		<BasicHead {...metadata} />
		<ViewTransitions fallback="swap" />
	</head>

	<body>
		<slot />

		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
