@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
		--primary: 220.9 39.3% 11%;
		--primary-foreground: 210 20% 98%;
		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;
		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;
		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;
		--border: 220 13% 91%;
		--input: 220 13% 91%;
		--ring: 224 71.4% 4.1%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;
		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;
		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;
		--primary: 210 20% 98%;
		--primary-foreground: 220.9 39.3% 11%;
		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;
		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;
		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 20% 98%;
		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;
		--ring: 216 12.2% 83.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}
}
:root {
	--astro-code-color-text: #F8F8F2; /* bun color */
	--astro-code-color-background: #282A36; /* bun color */
	--astro-code-token-constant: #F8F8F2; /* bun color */
	--astro-code-token-string: #F8F8F2; /* bun color */
	--astro-code-token-comment: #6272A4; /* bun color */
	--astro-code-token-keyword: #FF79C6; /* bun color */
	--astro-code-token-parameter: #FFB86C; /* bun color */
	--astro-code-token-function: #50FA7B; /* bun color */
	--astro-code-token-string-expression: #F1FA8C; /* bun color */
	--astro-code-token-punctuation: #c792e9;
	--astro-code-token-link: #79b8ff;
  
	/* Only required if using lang: 'ansi' */
	--astro-code-color-ansi-black: #000000;
	--astro-code-color-ansi-black-dim: #00000080;
	--astro-code-color-ansi-red: #bb0000;
	--astro-code-color-ansi-red-dim: #bb000080;
	--astro-code-color-ansi-green: #00bb00;
	--astro-code-color-ansi-green-dim: #00bb0080;
	--astro-code-color-ansi-yellow: #bbbb00;
	--astro-code-color-ansi-yellow-dim: #bbbb0080;
	--astro-code-color-ansi-blue: #0000bb;
	--astro-code-color-ansi-blue-dim: #0000bb80;
	--astro-code-color-ansi-magenta: #ff00ff;
	--astro-code-color-ansi-magenta-dim: #ff00ff80;
	--astro-code-color-ansi-cyan: #00bbbb;
	--astro-code-color-ansi-cyan-dim: #00bbbb80;
	--astro-code-color-ansi-white: #eeeeee;
	--astro-code-color-ansi-white-dim: #eeeeee80;
	--astro-code-color-ansi-bright-black: #555555;
	--astro-code-color-ansi-bright-black-dim: #55555580;
	--astro-code-color-ansi-bright-red: #ff5555;
	--astro-code-color-ansi-bright-red-dim: #ff555580;
	--astro-code-color-ansi-bright-green: #00ff00;
	--astro-code-color-ansi-bright-green-dim: #00ff0080;
	--astro-code-color-ansi-bright-yellow: #ffff55;
	--astro-code-color-ansi-bright-yellow-dim: #ffff5580;
	--astro-code-color-ansi-bright-blue: #5555ff;
	--astro-code-color-ansi-bright-blue-dim: #5555ff80;
	--astro-code-color-ansi-bright-magenta: #ff55ff;
	--astro-code-color-ansi-bright-magenta-dim: #ff55ff80;
	--astro-code-color-ansi-bright-cyan: #55ffff;
	--astro-code-color-ansi-bright-cyan-dim: #55ffff80;
	--astro-code-color-ansi-bright-white: #ffffff;
	--astro-code-color-ansi-bright-white-dim: #ffffff80;
  }